@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

.orange{
  color: orange;
}
.green{
  color: green;
}
body{
  display:flex;
}
.menu {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  color: #93A1A1;
  transition: all 0.5s ease;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu.expand{
  margin-left: 0;
}
.menu.collapse{
  margin-left: -30%;
}
.menu>div{
  margin: 10px 20px;
  padding-left:15px;
}
.menu>div.current{
  padding-left: 0px;
  color: green;
}
.menu>div.current:before{
  content: ">";
}
.reveal{
  transition: width 0.5s ease;
}
.reveal.collapse{
  width:70%;
}
.reveal.expand{
  width:100%;
}
.reveal section img {
  margin: 0;
  border: 0;
  box-shadow: none;
}
.reveal section {
  min-width: 1000px;
}
.reveal .packaging .svg {
  background:none;
  border:none;
}
.packaging+.packaging{
  margin-top: -580px;
}
.reveal .svg {
  display:block;
  margin:auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid grey;
  border-radius: 8px;
  padding: 20px;
}

.reveal .svg.big {
  height: 580px;
}
.reveal p.dev{
  margin-bottom: 0;
}
.dev+.dev{
  margin-top: -580px; 
}
.svg.big.octopus~.svg.big.octopus{
  margin-top: -580px;
  transition: none;
}
.no-rebase{
  background: url(../img/png/no-rebase.jpg) -60px -70px / 170%;
  width: 165px;
  height: 200px;
  left: 550px;
  position: relative;
  top: -270px;
}