@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

.orange{
  color: orange;
}
.menu {
  float: left;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  color: #93A1A1;
  width: 30%;
  margin-top: 15%;
}
.menu>div{
  margin: 20px;
  padding-left:15px;
}
.menu>div.current{
  padding-left: 0px;
  color: green;
}
.menu>div.current:before{
  content: ">";
}
.reveal{
  float:right;
  width:70%;
}
.reveal section img {
  margin: 0;
  border: 0;
  box-shadow: none;
}
.reveal .svg.packaging {
  background:none;
  border:none;
}
.reveal .svg {
  display:block;
  margin:auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid grey;
  border-radius: 8px;  
}

.reveal .svg.big {
  height: 580px;
}
.svg.big.octopus~.svg.big.octopus{
  margin-top: -580px;
  transition: none;
}
.no-rebase{
  background: url(../img/png/no-rebase.jpg) -60px -70px / 170%;
  width: 165px;
  height: 200px;
  left: 550px;
  position: relative;
  top: -270px;
}