.orange{
  color: orange;
}
.reveal section img {
  margin: 0;
  border: 0;
  box-shadow: none;
}
.reveal .svg {
  display:block;
  margin:auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid grey;
  border-radius: 8px;  
}

.reveal .svg.big {
  height: 580px;
}
.svg.big.octopus~.svg.big.octopus{
  margin-top: -580px;
  transition: none;
}
.no-rebase{
  background: url(../img/png/no-rebase.jpg) -60px -70px / 170%;
  width: 165px;
  height: 200px;
  left: 550px;
  position: relative;
  top: -270px;
}